<launch>
    <master auto="start"/>
    <arg name="depth_image" default="/kinect2/sd/image_depth_rect"/>
    <!-- Run the map server-->
     <arg name="pses_map" default="/home/pses/catkin_ws/src/pses_control/pses_navigation/pses_map_empty.yaml"/>
     <node name="map_server" pkg="map_server" type="map_server" args="$(arg pses_map)"/>

    <!-- Run AMCL-->
    <include file="$(find amcl)/examples/amcl_omni.launch" />

    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
      <rosparam file="$(find pses_navigation)/cfg/costmap_common_params.yaml" command="load" ns="global_costmap" />
      <rosparam file="$(find pses_navigation)/cfg/costmap_common_params.yaml" command="load" ns="local_costmap" />
      <rosparam file="$(find pses_navigation)/cfg/local_costmap_params.yaml" command="load" />
      <rosparam file="$(find pses_navigation)/cfg/global_costmap_params.yaml" command="load" />
      <rosparam file="$(find pses_navigation)/cfg/base_local_planner_params.yaml" command="load" />
      <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
    </node>

</launch>
