<?xml version="1.0" encoding="utf-8"?>

<launch>
	<arg name="depth_image" default="/kinect2/qhd/image_depth_rect"/>
	<arg name="color_image" default="/kinect2/qhd/image_color_rect"/>
	<arg name="camera_frame" default="camera_depth_frame"/>
	

	<include file="$(find kinect2_bridge)/launch/kinect2_bridge.launch">
	</include>

	<node pkg="depthimage_to_laserscan" type="depthimage_to_laserscan" name="depthimage_to_laserscan" output="screen">
		<remap from="image" to="$(arg depth_image)"/>
	</node>

	<node pkg="pses_control" type="person_follow" name="person_follow" output="screen">
	</node>
</launch>
